.myBG {
    height: 100vh;
    background: url(../assets/images/bioskop.jpg);
    background-size: cover;
}

.intro {
    height: 300px;
    display: flex; 
    justify-content: center;
    align-items: end;
    font-size: 50px;
}

.title {
    font-size: 3 rem;
    color: white;
    font-weight: 700;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
}

.introButton {
    padding: 1px 2px;
    color: #343a40;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.introButton Button {
    background-color: #f8f9fa;
    color: #343a40;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.trending {
    height: auto;
    background: url(../assets/images/back.jpg);
    background-size: cover;
}

.movieWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
}

.movieImage {
    height: auto;
    margin: 5px;
    padding: 5px;
}

.images {
    height: 500px
}

.superhero {
    height: auto;
    background: url(../assets/images/sprhero.jpg);
    background-size: cover;
}